*{


    margin: 0;
    padding: 0;

}
ul{
    list-style: none;
    /* 去除列表的点点 */
}
a{
    text-decoration: none;
}
body{
    font:12px/1.5 tahoma,arial,"\5b8b\4f53";
}
.banner{

background: #ff2f7c;

}
.banner img{
     display: block;
     margin: 0 auto;
}
#header{
    background: #f2f2f2;
    height: 40px;
    box-shadow: 0 2px 4px 0px rgba(0,0,0,0.30);
}
.wrapper{
    
    width: 1230px;
    /* background: #ff2f7c; */
    margin: 0 auto;
    height: 40px;
    
}
.header-login{
    height: 40px;
   /* display:inline-block;
    */
    float: left;
    line-height: 40px;
    font-size: 12px;
    font-family: "Microsoft YaHei", tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;

}
.header-login span ,.header-login a{
    color: #999;
}
.header-login a{

    padding-left: 20px;
}
.header-login a:hover{

    color: #ff0036;
}

.header-list{
    padding: 0 10px;
    float: right;
    /* display: inline-block; */
}
.header-list li{

    float: left;
    line-height: 40px;
    /* padding:0 15px 20px; */
}

.header-list li a{
    color: #999999;
    
}
.header-list li a:hover{
    color: #ff0036;
}
#car{
    font-size: 12px;
    color: #FF0036;
}
#phone{
    font-size: 11px;
    float: left;
    color: #FF0036;
    
}
.nav-link{
    color:#999;
    display:inline-block;
    padding: 0 14px 10px;
    
    
}
.nav-link-shuxian{
    display: inline-block;
    width: 0;
    height: 17px;
    vertical-align: top;
    position: relative;
    left: 0;
    font-size: 0;
    border-left: 1px solid #ccc;
    margin: 7px 2px 0 5px;
}
.sn{
    position: relative;
}
.sn:hover{
    background: white;
   
}
.sn:hover::after{
    transform: rotate(180deg);
    top:13px;
   
}
.sn::after{

    content: '';
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: solid;
   border-color: #999 transparent transparent transparent;
   position: absolute;
   right: 0px;
   top: 19px;
   transition:all 0.1s  linear;
}
.sn>.nav-link:hover{
    text-decoration:underline ;
}
/* #site-nav{
height: 41px !important;
line-height: 40px !important;
width: auto;
background:#f2f2f2;
font-family: "Microsoft YaHei", tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif



} */